.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__index {
    background-image: url("~/static/index.jpg");
  }
  &__recommend {
    background-position: center 80%;
    background-image: url("~/static/recommend.jpg");
    z-index: -1;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.4);
      z-index: 8;
    }
  }
}